@value tokens: "./tokens.module.css";
@value spacer1, spacer2 from tokens;

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding: spacer1 spacer2;
}

.navBar .mobileNavigation {
    background-color: #f9c4dc;
    display: flex;
    align-items: center;
}

.navBar .mobileNavigation .hamburger {
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: pointer;

}

.navBar .navigation  {
    display: none;
}

.home__ham {
    display: none;
}

.nav__div {
    position:absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color:#f9c4dc;
    border-top: 1px solid white;
    padding-bottom: 1rem;
}

.nav__li {
    text-decoration: none;
    color: #fff;
    font-size:1.5rem;
    line-height:3;
    padding-left: 1rem;
}


@media only screen and (min-width: 500px){
    .navBar .mobileNavigation {
        display: none;
    }
    .navBar .navigation {
        display: flex;   
    }
    .home {
    display:none;
    }

    .home__ham {
    display: flex; 
}
}