@value tokens: "./tokens.module.css";
@value spacer1, spacer3, title, textBold, fontSizeXL, primaryColor, secondaryColor, thirdColor from tokens;

.subtitel {
  font-family: Playfair Display;
  font-size: 6rem;
  line-height:1;
  color: white;
  border-left: 3px solid white;
  height:13rem;
  padding-left: 2rem;
  margin-left: 10rem;
}

.subtitel__first {
  font-family: Metropolis;
  color:#ffaa00;
  font-size: 2rem;
}

.button {
  text-align: center;
}